.login-container {
  padding: 40px;
  max-width: 430px;
  margin: 0 auto 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin-top: 50px;

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form-group input {
    width: 100%;
    height: 44px;
    padding: 6px 12px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
    font-size: 16px;
    line-height: 1.42857;
    color: #3f3f44;
    background-color: #fff;
    background-image: none;
    border: 1px solid #cbcbd2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    &:focus {
      border-color: #79589f;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(121, 88, 159, 0.6);
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(121, 88, 159, 0.6);
    }
  }
}

.btn {
  color: #fff;
  background-color: #79589f;
  background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, rgba(159, 88, 150, 0)), color-stop(1, rgba(159, 88, 150, 0.6)));
  background-image: -o-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(159, 88, 150, 0.6) 100%);
  background-image: -moz-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(159, 88, 150, 0.6) 100%);
  background-image: -webkit-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(159, 88, 150, 0.6) 100%);
  background-image: -ms-linear-gradient(left bottom, rgba(159, 88, 150, 0) 0, rgba(159, 88, 150, 0.6) 100%);
  background-image: linear, to left bottom, rgba(159, 88, 150, 0) 0, rgba(159, 88, 150, 0.6) 100%;
  border-radius: 5px;
  border: none;
  padding-left: 18px;
  padding-right: 18px;
  width: 100%;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 10px;
}

form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

#login-buttons {
  padding: 8px;
}

// override relative positioning of login overlay
#login-buttons .login-link-and-dropdown-list {
  position: initial !important;
}


